<!DOCTYPE html>
<html>
	<head>
		<title>Medical ID</title>
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<script data-main='/js/common.js' src='/js/lib/require.js'></script>
		<meta name="viewport" content="width=device-width">
	</head>

	<body>
		{{creator}}
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<span class="navbar-brand nav-link unselectable">mID</span>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-link" role="presentation"><a href="/">Home</a></li>
					{{#if user}}
						<li class="nav-link" role="presentation"><a href="/create">Create</a></li>
						<li class="nav-link" role="presentation"><a href="/users/logout">Logout</a></li>
					{{else}}
						<li class="nav-link" role="presentation"><a href="/create">Guest</a></li>
						<li class="nav-link" role="presentation"><a href="/users/login">Login</a></li>
						<li class="nav-link" role="presentation"><a href="/users/register">Register</a></li>
					{{/if}}
				</ul>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="hor-spacer"></div>
			</div>
			<div class="row">
				<div class="jumbotron">
					<span class="unselectable">
						<span style="font-size: 0.5em;">Your Personal</span>
						<br />
						Medical ID
					</span>
				</div>
			</div>

			<div class="row">
				<div class="hor-spacer"></div>
			</div>

			<div class="row">
				{{#if success_msg}}
					<div class="alert alert-success">{{success_msg}}</div>
				{{/if}}

				{{#if error_msg}}
					<div class="alert alert-danger">{{error_msg}}</div>
				{{/if}}

				{{#if error}}
					<div class="alert alert-danger">{{error}}</div>
				{{/if}}

				{{{body}}}
			</div>
		</div>
		<script src='/js/lib/jquery.min.js'></script>
		<script src='/js/lib/bootstrap.min.js'></script>
	</body>
</html>
