<div class="row">
    <div class="col-12 p-3">
        <h2 class="header text-center">{{displayUser.name}}</h2>
    </div>
    <div class="col-sm-12 col-md-6 offset-md-1 p-3">
        {{#if displayUser}}
        <table class="table-striped table">
            {{#each displayUser.fields}} {{#if this.inprofile}} {{#if this.field}}
            <tr>
                <td>
                    <span style="font-weight: 700;">{{this.label}}</span>
                </td>
                <td>
                    {{this.field}}
                </td>
            </tr>
            {{/if}} {{/if}} {{/each}}
        </table>
        {{else}} No user found! {{/if}}
    </div>
    <div class="col-sm-12 col-md-5 text-center p-3">
        <img id="profile-profpic" width='50%' src='{{displayUser.picture}}' />
    </div>
</div>
