<!DOCTYPE html>
<html>
    <body>
        Hi {{name}},<br /><br />
        You are receiving this because you (or someone else) have requested the reset of the password for your account.<br /><br />
        Please click on the following <a href="http://{{host}}/forgot/reset/{{token}}">link</a>, or paste this into your browser to complete the process:<br /><br />
        http://{{host}}/forgot/reset/{{token}}<br /><br />
        If you did not request this, please ignore this email and your password will remain unchanged.
    </body>
</html>