<!DOCTYPE html>
<html>
    <body>
        Hi {{name}},<br /><br />
        You are receiving this email because you (or someone else) need to verify the email address used for your account.<br /><br />
        To verify your account please click on the <a href="http://{{host}}/verify/{{token}}">link</a><br /><br />
        If the link does not work paste the following token at http://{{host}}/verify<br />
        {{token}}<br /><br />
        If you did not request this, please ignore this email and this email address will not be verified.
    </body>
</html>